.admin * {
  /* border: 1px solid red; */
  background-color: #1d1d1b;
  color: white;
}

li {
  list-style: none;
  text-decoration: none !important;
}

.admin {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar {
  flex: 2;
  min-height: calc(100vh - 80px);
  border-right: 1px solid #ffcc00;
}

.main {
  flex: 12;
}

.navbar li {
  color: white;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.navbar li:hover {
  color: #ffcc00;
}
